.search {
  color: #fff;
  text-align: center;
  padding-top: 8.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  gap: 2.5rem;
}

.search__title {
  color: #fff;
  font-size: 3rem;
  width: 100%;
}

.search__subtitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.search__bar {
  border: none;
  color: black;
  padding: 1rem 8rem;
  border-radius: 5rem;
  box-sizing: content-box;
  font-weight: 600;
  font-size: 1.25rem;
  min-width: 15rem;
}

.search__bar::placeholder {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.search__result {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  gap: 0.5rem;
}

.result__book {
  transition: 0.5s;
  grid-column: span 2;
}

.result__book:hover {
  transform: scale(1.1);
}

.book__name {
  width: 5rem;
}

.book__img {
  width: 10rem;
}
